:root {
  --day-background-color: #f77f00;
  --night-background-color: #5a189a;
}
.container {
  background-color: var(--day-background-color);
  background-image: url('./Images/weather-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  opacity: .8;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}